Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Projectiles/BP_Projectile_FireArrow.uasset
Content/Projectiles/BP_Projectile_Base.uasset
